
@{
    ViewBag.Title = "Device";
    Layout = "~/Views/Shared/HomePage.cshtml";
}

<!doctype html>
<html >
<head>
  
    <style>
        h1 {
            color: black;
            text-align:center;
        }

        .row .center {
            margin-left: 45%;
        }

        .featurette-image {
            width: 75%;
            height: 75%;
        }
        .text {
            text-align:center;
        }
            
    </style>
</head>

<body>
    <h1>實驗室設備</h1>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-lg-4 center" style="margin-left:45%;">
            <ol style="font-size:25px">
                <li>個人電腦+高效能繪圖顯示卡</li>
                <li>噴墨印表機</li>
                <li>多通道頭戴式顯示器</li>
                <li>嵌入式電腦平台</li>
                <li>3D數據手套+三軸位置追蹤器</li>
                <li>互動式自行車訓練平台</li>
            </ol>
        </div>
    </div>
    <hr class="featurette-divider">


    <div class="row featurette">
        <div class="col-md-7 col-md-push-5 text">
            <h2 class="featurette-heading ">3D列印機 <span class="text-muted">(3D Printer)</span></h2>
            <p class="lead ">建模並將作品給列印出來吧!</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="~/Mt/img/labDevice/3DPrint.jpg" alt="Generic placeholder image">
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-4 text">
            <h2 class="featurette-heading ">虛擬實境開發平台<span class="text-muted">(VR)</span></h2>
            <p class="lead">研究各種遊戲，就連VR遊戲也不放過!</p>
        </div>
        <div class="col-md-8">
            <img class="featurette-image img-responsive center-block" src="~/Mt/img/labDevice/VR.jpg" alt="Generic placeholder image">
        </div>
    </div>






    <!-- Bootstrap core JavaScript
     ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../Mt/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../Mt/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../Mt/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../Mt/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>


