@model IEnumerable<infra.ViewModels.ViewResearch>
@{
    ViewBag.Title = "Hank";
    Layout = "~/Views/Shared/HomePage.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: silver;
        }
        
    </style>
</head>

<body>



    <div class="container containerone">

        <div class="blog-header">
            <h1 class="blog-title">陳宏光(Hung-Kuang Chen)老師的個人網站~~</h1>
            <hr class="featurette-divider">
        </div>

        <div class="row">

            <div class="col-sm-8 blog-main">

                <div class="blog-post">
                    <h2 class="blog-post-title">研究著作</h2>
                    <h3 class="blog-post-meta">一、期刊論文</h3>
                    <ol>
                        <li> Hung-Kuang Chen, Chin-Shyrung Fahn, Jeffery, J. P. Tsai, and Ming-Bo Lin, “A novel cache-based approach to large polygonal mesh simplification,” Journal of Information Science and Engineering, Vol. 22, No. 4, Pages 843-861, July 2006, SCI</li>
                        <li>Hung-Kuang Chen, Chin-Shyurng Fahn, Jeffrey J. P. Tsai, Rong-Ming Chen, Ming-Bo Lin, “Generating high-quality discrete LOD meshes for 3D computer games in linear time,” Multimedia Systems, Volume 11, Issue 5, Jun 2006, Pages 480 – 494, DOI 10.1007/s00530-006-0017-1, <a href="http://dx.doi.org/10.1007/s00530-006-0017-1" class="btn-info">點此查看</a>, SCI</li>
                    </ol>


                    <h3 class="blog-post-meta">二、研討會論文</h3>
                    <ol>
                        <li><p>陳宏光、涂致遠”解決三維細化曲線骨架擷取的多餘骨架節點問題” ，第六屆智慧生活科技研討會，ILT 2011，國立勤益科技大學，100年6月3日。</p></li>
                        <li><p>陳宏光、涂致遠“Adaptable Voxelization “ILT 2011, Proceedings of the 6th Intelligent Living Technology Conference, Taiping, Taichung, Taiwan, June 3, 2011.</p></li>
                        <li><p>陳煒松、陳宏光“運用GPU 進行快速立體像素化”,第四屆智慧生活科技研討會,pp.824-827, June 5, 2009.</p></li>
                        <li><p>Hung Kuang Chen、Yung-Hung Chen、Guan-Nan Hu“Progressive Watermarking on Progressive 3D Meshes“2009 資訊科技國際研討會24,4,2009.</p></li>
                        <li><p>Chen-Chung Liu, Hung-Kuang Chen, Guan-Nan Hu, Pei-Chung Chung, “A Watermarking for Three-Dimensional Model Based on Hierarchical Clustering,” 第十九屆國際資訊管理學術研討會論文集(光碟), May 2008, 暨南大學.</p></li>
                        <li><p>Chen-Chung Liu, Hung-Kuang Chen, Guan-Nan Hu, Pei-Chung Chung, “A Watermarking for Three-Dimensional Model Based on K- means Clustering,” 新媒體設計、傳播與科技應用國際學術研討會論文集(光碟), 2008, 元智大學.</p></li>
                        <li><p>陳宏光, 姜凱鈞, 胡冠男, 陳煒松, 陳啟峰, 快速區域性影像修補技術, 2008 電腦與網路科技在教育上的應用研討會論文集(光碟), 新竹教育大學, Oct 2008.</p></li>
                        <li><p>劉正忠, 陳宏光, 胡冠男, 吳柏融, 使用階層式分群法的強健性浮水印, 第三屆智慧生活科技研討會論文集, pp. 714-722, ISBN 978-957-21- 5854-8, 國立勤益科技大學, June 2008.</p></li>
                        <li><p>Hung-Kuang Chen, Chin-Shyurng Fahn, and Ming-Bo Lin, “Storage Independent Simplification of Polygonal Meshes,” Lecture Notes in Computer Science (including subseries Lecture Notes in Artificial Intelligence and Lecture Notes in Bioinformatics), v 4563 LNCS, Virtual Reality -Second International Conference, ICVR 2007. Held as part of HCI International 2007, Proceedings, 2007, p 3-12. (NSC-95-2218-E-167-001), EI.</p></li>
                        <li><p>Chin-Shyurng Fahn, Chih-Wei Huang, and Hung-Kuang Chen, “A Real-Time Gesture Tracking and Recognition System Based on Particle Filtering and AdaBoosting Techniques,” Lecture Notes in Computer Science (including subseries Lecture Notes in Artificial Intelligence and Lecture Notes in Bioinformatics), v 4555 LNCS, n PART 2, Universal Access in Human-Computer Interaction:Ambient Interaction – 4th International Conference on Universal Access in Human-Computer</p></li>
                        <li><p>Interaction, UAHCI 2007. Held as Part of HCI Int. 2007 Proc., 2007, p 818-827.(EI)</p></li>
                        <li><p>Hung-Kuang Chen, Chin-Shyurng Fahn, Jeffrey J.P. Tsai, Rong-Ming Chen, Ming-Bo Lin, “A Linear Time Algorithm for High Quality Mesh Simplification,” in Proc. of IEEE 6th International Symposium on Multimedia Software Engineering, Miami, USA, pp. 169-176, Dec 2004</p></li>
                        <li><p>K.C. Shih, R.M. Chen, R.M. Hu, F.M. Liu, H.K. Chen, Jeffrey J.P. Tsai, “Prediction of Gene Regulatory Networks using Differential Expression of cDNA Microarray Data,” in Proc. of IEEE 6th International Symposium on Multimedia Software Engineering, Miami, USA, pp. 378-385, Dec 2004</p></li>
                    </ol>
                    <hr class="featurette-divider">
                    <h2>計畫與產學合作</h2>

                    <h4><strong> 98學年度 計畫</strong></h4>
                    <div style="overflow-x:auto;">
                        <table>
                            <tr>
                                <th>項目</th>
                                <th>研究題目</th>
                            </tr>
                            <tr>
                                <td>國科會計畫</td>
                                <td>三維網格之漸進式數位浮水印認證之研究</td>
                            </tr>
                        </table>
                    </div>
                    <h4><strong> 97學年度 產學研究</strong></h4>
                    <div style="overflow-x:auto;">
                        <table>
                            <tr>
                                <th>項目</th>
                                <th>研究題目</th>
                            </tr>
                            <tr>
                                <td>產學研究</td>
                                <td>相片鉛筆速描效果自動轉換系統技術之開發與研究</td>
                            </tr>
                        </table>
                    </div>
                    <hr class="featurette-divider">
                    <h2>出版</h2>
                    <div>
                        <img src="~/Mt/img/bookNovel/hankpublish.PNG" style="width:100%;height:100%;"/>
                    </div>
                    <hr class="featurette-divider">
                    <h2>榮譽榜</h2>
                    <div style="overflow-x:auto;">
                        <table>
                            <tr>
                                <th>學年度</th>
                                <th>姓名</th>
                                <th>事蹟敘述</th>
                                <th>榮譽類別</th>
                            </tr>
                            <tr>
                                <td>96</td>
                                <td>陳文淵、陳宏光、曾振東、黃國興、賴雲龍</td>
                                <td>國立勤益科技大學97年度「推動科技研究發展獎勵」得獎教師</td>
                                <td>學術論文獎</td>
                            </tr>
                        </table>
                    </div>

                </div><!-- /.blog-post -->



            </div><!-- /.blog-main -->

            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                <div class="sidebar-module sidebar-module-inset">
                    <img class=" img-fluid img-thumbnail " src="~/Mt/img/profphoto.jpg" />
                    <h3>陳宏光<small>教授</small></h3>
                    <h4>個人簡介</h4>
                    <p><strong>職位：</strong><span>副教授</span></p>
                    <p><strong>學歷：</strong><span>國立台灣科技大學電子所計算機組博士</span></p>
                    <p><strong>分機：</strong><span>+886-4-2392-4505 ext.7358</span></p>
                    <p><strong>研究室：</strong><span>工程館 E711</span></p>

                    <p><strong>專長：</strong></p>
                    <p>電腦圖學、虛擬實境、遊戲程式設計、平行處理工作</p>

                    <p><strong>經歷：</strong></p>
                    <p>龍華科技大學電子系專任講師 84.8.1~91.7.31</p>
                    <p>亞洲大學資訊與設計學系專任講師 91.8.1~95.1.31</p>
                    <p>亞洲大學資訊與設計學系專任副教授 95.2.1~96.1.31</p>
                    <p>國立勤益科技大學電子工程系專任副教授 96.2.1~迄今</p>


                </div>
                <div class="sidebar-module">
                    <h4><strong>歷史論文</strong></h4>
                    <ol class="list-unstyled">
                        @foreach (var item in Model)
                        {
                            <li><a href="~/Mt/pdf/hank's/@item.fileName" target="_blank">@item.justName</a></li>
                        }

                    </ol>
                </div>
                <div class="sidebar-module">
                    <h4>Elsewhere</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">GitHub</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ol>
                </div>
            </div><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </div><!-- /.container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../Mt/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../Mt/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../Mt/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../Mt/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>


