
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/Dash_Layout.cshtml";
}

<div class="content-wrapper" style="min-height: 431px;">

    <div class="content-header">
        <div class="container-fluid">
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">New Members</span>
                        <span class="info-box-number">2,000</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            
            <!--<p><div><button onclick="location.href='@Url.Action("list","Home")'" class="btn btn-info" id="compare ">比對清單</button></div></p>-->
        </div>
    </div>
</div>
